@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;500;700&display=swap');
@import './breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  @include large {
    overflow-x: hidden;
  }
}

// COLORS
// primary color
$red: hsl(0, 100%, 68%);

// neutral colors
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayisBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);
$white: #fff;

// FONTS
$pryFont: 'Barlow', sans-serif;
$secFont: 'Barlow Condensed', sans-serif;

body {
  -webkit-text-size-adjust: 100%;
  font-family: $pryFont;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  padding: 0 1.8rem;

  @include landscape {
    width: 576px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include large {
    width: 1000px;
  }

  @include extra-large {
    width: 1100px;
  }

  @include huge {
    width: 1440px;
  }
}

// HEADER SECTION
.header {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 50%;
    background-color: $lightGrayishBlue;
    z-index: -1;
    border-bottom-left-radius: 3rem;

    @include large {
      height: 390px;
    }
  }

  &__content {
    position: relative;
    padding-top: 1.188rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-icon {
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    cursor: pointer;

    @include large {
      display: none;
    }
  }

  .menu-icon.active {
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  // Nav
  .nav {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: $white;
    font-family: $secFont;
    text-align: center;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.3);
    max-height: 0;
    transition: max-height 0.3s ease-in-out;

    @include large {
      max-height: unset;
      overflow: visible;
      position: static;
      background-color: transparent;
      box-shadow: unset;
      text-align: right;
      transform: unset;
    }

    &__menu {
      padding: 0.938rem 0;

      @include large {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      li:not(:last-child) {
        padding-bottom: 0.938rem;

        @include large {
          padding-bottom: 0;
        }
      }

      a {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include large {
          line-height: 1;
          border-bottom: 1.5px solid transparent;
          transition: border-bottom 0.3s ease-in-out;

          &:hover {
            border-color: $darkGrayisBlue;
          }
        }
      }

      &--link {
        color: $veryDarkBlue;

        @include large {
          margin-right: 2.5rem;
        }
      }

      .pricing {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 90%;
          transform: translateX(-50%);
          height: 1px;
          background-color: $veryDarkBlue;

          @include large {
            display: none;
          }
        }
      }

      .dot {
        display: none;
        position: relative;

        @include large {
          display: block;
          height: 7px;
          width: 7px;
          border-radius: 100%;
          background-color: #d5dade;
          border-bottom: none;
        }
      }
    }

    &__cta {
      padding-top: 0.938rem;
      color: $grayishBlue;

      @include large {
        padding-top: 0;
      }
    }
  }

  .nav.maxHeight {
    max-height: 186px;
  }
}

/// HERO SECTION ///
.hero {
  overflow: hidden;
  @include landscape {
    width: 576px;
    margin: 0 auto;
  }

  @include large {
    width: unset;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }

  @include huge {
    width: 1440px;
    margin: 0 auto;
  }

  &__bg--container {
    padding-top: 3rem;

    img {
      width: 600px;

      @include large {
        width: 130%;
      }
    }
  }

  &__text {
    padding: 6rem 1.8rem 3rem;
    font-family: $secFont;

    @include large {
      grid-row: 1/2;
      justify-self: flex-start;
      width: 500px;
      margin-left: auto;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include extra-large {
      margin-left: 0;
      justify-self: center;
    }

    @include huge {
      justify-self: flex-start;
    }

    &--content {
      .new {
        display: inline-block;
        color: $white;
        background-color: $veryDarkBlue;
        border-radius: 1.25rem;
        margin-right: 0.5rem;
        padding: 0.1rem 0.5rem;
        font-size: 0.9rem;
        font-weight: 700;
      }

      .mono {
        letter-spacing: 3px;
        font-size: 1.1rem;
        color: $darkGrayisBlue;
      }
    }

    &--subtitle {
      margin-bottom: 0.8rem;
      text-transform: uppercase;
    }

    &--title {
      font-size: 2.5rem;
      line-height: 1.1;
      text-transform: uppercase;
      color: $veryDarkBlue;
      font-weight: 700;
      margin-bottom: 1rem;

      @include large {
        font-size: 3rem;
      }
    }

    p {
      color: $darkGrayisBlue;
      font-size: 1.125rem;
    }
  }

  &__buttons {
    padding-top: 1.188rem;
    text-transform: uppercase;

    &--pry {
      position: relative;
      background-color: $red;
      color: $white;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      margin-right: 0.725rem;
      font-weight: 500;
      font-size: 0.9rem;
      letter-spacing: 0.5px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $white;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover:after {
        opacity: 0.3;
      }
    }

    &--sec {
      letter-spacing: 2px;
      color: $darkGrayisBlue;
    }
  }
}
